html {
	--container: 375px;
	--padding-container: 16px;
	--Gray-Dark-Default: #060118;
	--Gray-Dark-50: #0b0c10;
	--Gray-Dark-900: #F9FAFB;
	--Gray-Dark-600: #D1D5DB;
	--Gray-Dark-200: #374151;
	--Gray-Dark-100: #1F2937;



	box-sizing: border-box;
	overflow-x: hidden;
	position: relative;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: Inter, sans-serif;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--Gray-Dark-Default);
	color: var(--Gray-Dark-900);
	overflow-x: hidden;
	position: relative;
}

img,
svg {
	height: auto;
	display: block;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	bottom: 0;
	border: none;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container {
	max-width: calc(var(--container) + (var(--padding-container) * 2));
	padding: 64px var(--padding-container);
	margin: 0 auto;
}

.block-title {
	display: flex;
	padding: 4px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background-color: var(--Gray-Dark-200);
	color: var(--Gray-Dark-600);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	margin: 0 auto;
}

@media (min-width:1366px) {
	html {
		--container: 1440px;
		--padding-container: 80px;
	}

	.container {
		max-width: calc(var(--container) + (var(--padding-container) * 2));
		padding: 112px var(--padding-container);
		margin: 0 auto;
	}

}
