.main {
}
.greeting {
}
.greeting__container {
	padding-top: 64px;
	padding-bottom: 64px;
}
.greeting__avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.greeting__avatar-background {
	width: 280px;
	height: 280px;
	flex-shrink: 0;
	border: 8px solid #030712;
	background: #374151;
}
.greeting__avatar-image {
	position: absolute;
	top: -20px;
	width: 240px;
	height: 280px;
	flex-shrink: 0;
	border: 8px solid #030712;
	background-color:lightgray 50% / cover no-repeat;
}
.greeting__about {
	display: flex;
	flex-direction: column;
	gap: 48px;
}
.greeting__about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	margin-top: 48px;
}
.greeting__about-title {
	color: #f9fafb;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 24px;
}
.greeting__about-description {
	color: #d1d5db;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.greeting__about-location {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	align-self: stretch;
	color: var(--Gray-Dark-600, #d1d5db);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.greeting__about-contacts {

}
.greeting__about-contacts-list {
	display: flex;
	flex-direction: row;
	gap: 5px;
}
.greeting__about-contacts-item {
}
.greeting__about-contacts-link {
}
.greeting__contact-link {
}
